<h2>Edit Comment</h2>

 
    <form action="/patient/<%= @comment.patient_id %>/comment/<%= @comment.id %>" method="POST">
    <input type="hidden" value="PATCH" name="_method">
    Identifier:<input type="text" name="comments[identifier]"value="<%= @comment.identifier %>"><br>
    Note:<br><textarea name="comments[note]"><%= @comment.note %></textarea><br>
    Items To Discuss With Doctor:<br><textarea name="comments[items_to_discuss]"><%= @comment.items_to_discuss %></textarea><br>
    Questions For The Doctor:<br><textarea name="comments[questions]"><%= @comment.questions %></textarea><br>
    <input type="submit" value="Edit"><br>
    </form>
 




 

 