<div class="p-3 mb-2 bg-warning text-dark"> 
<h1 class='text-center'><span class="border border-3">Medical Information Notepad</span></h1>
<h1 class='text-center'><span class="border border-3">List of Identifiers For <%= @patient.username %>:</span></h1><br><br>
<h2 class='text-center'><span class="border border-3">Choose The Identifier For The Note, Items, Or Questions</span></h2>
<h2 class='text-center'><span class="border border-3">That You Want To View, Edit, or Delete and Click on It.</span></h2>
 &nbsp; &nbsp; &nbsp;&nbsp;<u> Identifiers:</u><br><br>
<ul>
<% if !Comment.find_by(patient_id: current_user.id) %>
<%= "None" %>
<% else %>
    <%  @comments.each do |comment| %>
        <li><a href="/patients/<%= comment.patient_id %>/comment/<%= comment.id %>"><%= comment.identifier %></a></li>
    <% end %><br><br>
<% end %>
</ul>
 
<form method="GET" action="/patients/<%= @patient.id %>/comments/new">
<u>To create new notes, items to discuss, and questions for the doctor, press here:</u> <input type="submit" value="Create Notes, Items, and Questions"><br><br>
</form>

<form method="GET" action="/patients/<%= @patient.id %>/info">
<u>To return to the medical information page press here:</u> <input type="submit" value="Return To Medical Information"><br><br>
</form>

<form method="POST" action="/logout">
    To Logout Press Here: <input type="submit" value="Logout">
</form>

</div>