<div class="p-3 mb-2 bg-primary text-white"> 
<h1 class='text-center'><span class="border border-3">Medical Information Notepad</span></h1><br><br>
<h1 class='text-center'><span class="border border-3">Here Is The </span></h1>
<h1 class='text-center'><span class="border border-3">Note, Items, And Questions Created By <%= @patient.username %>:</span></h1><br><br>
Identifier: <%= @comment.identifier %><br><br>
Note: <%= @comment.note %><br>
Items To Discuss With Doctor: <%= @comment.items_to_discuss %><br>
Questions For The Doctor: <%= @comment.questions %><br><br><br>

<form method="GET" action="/patients/<%= @comment.patient_id %>/comment/<%= @comment.id %>/edit">
<u>Press here to edit any information:</u> <input type="submit" value="Edit"><br><br>
</form>

<form method="GET" action="/patients/<%= @comment.patient_id %>/comments">
<u>Press here to view the identifier list:</u> <input type="submit" value="View List"><br><br>
</form>

<form method="GET" action="/patients/<%= @comment.patient_id %>/info">
<u>To return to the medical information page press here:</u> <input type="submit" value="Medical Information Page"><br><br>
</form>


<form method="POST" action="/patients/<%= @comment.patient_id %>/comments/<%= @comment.id %>">
<input type="hidden" value="DELETE" name="_method">
<u>To delete this information press here:</u> <input type="submit" value="Delete">
</form>
</div>

 