<h3><%= @patient.username %></h3>
<p>Edit Information</p>

<h3>Edits for<%= @patient.username %></h3>
<% @pull_his = History.where(patient_id: @patient.id) %>
<% @pull_his.each do |his| %>
   <% his.diagnoses %></h6>
   <% his.medications %>
   <% his.allergies %>
   <% his.current_treatments %>
   <% his.surgeries %>
   <% his.immunizations_with_dates %>
<% end %>
<% @pull_sub = Subjective.where(patient_id: @patient.id) %>
<% @pull_sub.each do |sub| %>
   <% sub.location %> 
   <% sub.observed_changes %> 
   <% sub.sensation_changes %> 
   <% sub.scale_1_to_10 %> 
   <% sub.length_of_time %> 
<% end %>
<% @pull_com = Comment.where(patient_id: @patient.id) %>
<% @pull_com.each do |com| %>
    <% com.note %> 
    <% com.items_to_discuss %> 
    <% com.questions %> 
<% end %> 
 
<form action="/edit" method="POST">
    <input type="hidden" value="PATCH" name="_method">
    <label>Edit the Diagnoses:</label>
    <br>
    <textarea name="histories[diagnoses]"><%= his.diagnoses %></textarea><br>
    <input type="submit">
</form>

<form action="/edit" method="POST">
    <input type="hidden" value="PATCH" name="_method">
    <label>Edit the Medications:</label>
    <br>
    <textarea name="histories[medications]"><%= his.medications %></textarea><br>
    <input type="submit">
</form>
<form action="/edit" method="POST">
    <input type="hidden" value="PATCH" name="_method">
    <label>Edit the Allergies:</label>
    <br>
    <textarea name="histories[allergies]"><%= his.allergies %></textarea><br>
    <input type="submit">
</form>
<form action="/edit" method="POST">
    <input type="hidden" value="PATCH" name="_method">
    <label>Edit the Current Treatments:</label>
    <br>
    <textarea name="histories[current_treatments]"><%= his.current_treatments %></textarea><br>
    <input type="submit">
</form>
<form action="/edit" method="POST">
    <input type="hidden" value="PATCH" name="_method">
    <label>Edit the Surgeries:</label>
    <br>
    <textarea name="histories[surgeries]"><%= his.surgeries %></textarea><br>
    <input type="submit">
</form>
<form action="/edit" method="POST">
    <input type="hidden" value="PATCH" name="_method">
    <label>Edit the Immunizations with Dates:</label>
    <br>
    <textarea name="histories[immunizations_with_dates]"><%= his.immunizations_with_dates %></textarea><br>
    <input type="submit">
</form>
<form action="/edit" method="POST">
    <input type="hidden" value="PATCH" name="_method">
    <label>Edit the Location:</label>
    <br>
    <textarea name="subjectives[location]"><%= sub.location %></textarea><br>
    <input type="submit">
</form>
<form action="/edit" method="POST">
    <input type="hidden" value="PATCH" name="_method">
    <label>Edit the Observed Changes:</label>
    <br>
    <textarea name="subjectives[observed_changes]"><%= sub.observed_changes %></textarea><br>
    <input type="submit">
</form>
<form action="/edit" method="POST">
    <input type="hidden" value="PATCH" name="_method">
    <label>Edit the Sensation Changes:</label>
    <br>
    <textarea name="subjectives[sensation_changes]"><%= sub.sensation_changes %></textarea><br>
    <input type="submit">
</form>
<form action="/edit" method="POST">
    <input type="hidden" value="PATCH" name="_method">
    <label>Edit the Scale on 1 to 10:</label>
    <br>
    <textarea name="subjectives[scale_1_to_10]"><%= sub.scale_1_to_10 %></textarea><br>
    <input type="submit">
</form>
<form action="/edit" method="POST">
    <input type="hidden" value="PATCH" name="_method">
    <label>Edit the Length of Time:</label>
    <br>
    <textarea name="subjectives[length_of_time]"><%= sub.length_of_time %></textarea><br>
    <input type="submit">
</form>
<form action="/edit" method="POST">
    <input type="hidden" value="PATCH" name="_method">
    <label>Edit the Note:</label>
    <br>
    <textarea name="comments[note]"><%= com.note %></textarea><br>
    <input type="submit">
</form>
<form action="/edit" method="POST">
    <input type="hidden" value="PATCH" name="_method">
    <label>Edit the Items to discuss:</label>
    <br>
    <textarea name="comments[items_to_discuss]"><%= com.items_to_discuss %></textarea><br>
    <input type="submit">
</form>
<form action="/edit" method="POST">
    <input type="hidden" value="PATCH" name="_method">
    <label>Edit the Questions:</label>
    <br>
    <textarea name="comments[questions]"><%= com.questions %></textarea><br>
    <input type="submit">
</form>
  

<form method="POST" action="/edit">
    <input type="submit" value="edit">
</form>

<form method="POST" action="/logout">
        <input type="hidden" value="DELETE" name="_method">
        <input type="submit" value="logout">
</form>
    
 
