<h3><%= @patient.username %></h3>
<p>Edit Information</p>

<form method="post" action="/info">
<% if @hist && @sub && @com %>
<h1><%= @hist %></h1>
<h1><%= @sub %></h1>
<h1><%= @com %></h1>
 
    <button type="button" class="btn btn-outline-primary mb-2"><a href="/info >/edit">Edit Information</a></button>
    <form method="POST" action="/notes/<%= @note.id %>">
        <input type="hidden" value="DELETE" name="_method">
        <input type="submit" value="delete">
</form>
    
<% end %>
