<h3><%= @patient.username %></h3>
 
<% if @hist && @sub && @com %>
   
<h1><%= @hist %></h1>
<h1><%= @sub %></h1>
<h1><%= @com %></h1>
    
    <form method="POST" action="/edit"<%= @note.id %>">
        <input type="edit" value="edit">
    </form>
    
    <form method="POST" action="/notes/<%= @note.id %>">
        <input type="hidden" value="DELETE" name="_method">
        <input type="submit" value="delete">
    </form>
    
<% end %>

GO TO /edit




    
